/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Estilo para títulos */
h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Estilo para botões */
button {
    background-color: #27ae60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group button {
    width: 100px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}

.add-btn {
    background-color: #27ae60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

button.editar {
    background-color: #27ae60;
    color: white;
}

button.remover {
    background-color: #e74c3c;
}

button.remover:hover {
    background-color: #c0392b;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    font-size: 16px;
}

/* Estilos para listas de pesquisas e entrevistados */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.survey-list button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.survey-list {
    list-style-type: none;
    padding: 0;
}

.survey-list li {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre o texto e os botões */
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    form {
        width: 100%;
    }

    .options {
        flex-direction: column;
    }

    ul li {
        flex-direction: column;
        align-items: flex-start;
    }
}
