<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gerenciamento de Entrevistados</title>
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Entrevistados</h1>
        <ul class="survey-list">
            {% for entrevistado in entrevistados %}
            <li>
                {{ entrevistado['nome'] }} - {{ entrevistado['email'] }} ({{ entrevistado['data_nascimento'] }})
                <div class="button-group">
                    <form action="{{ url_for('remover_entrevistado', id=entrevistado['id']) }}" method="POST">
                        <button class="editar" formaction="{{ url_for('editar_entrevistado', id=entrevistado['id']) }}">Editar</button>
                        <button type="submit" class="remover">Remover</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="add-btn" onclick="location.href='/adicionar_entrevistado'">Adicionar Entrevistado</button>
    </div>
</body>
</html>
