<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gerenciamento de Entrevistados</title>
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Entrevistados</h1>
        <ul class="survey-list">
            {% for entrevistado in entrevistados %}
            <li>
                {{ entrevistado[1] }}
                <div>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button onclick="location.href='/adicionar_entrevistado'">Adicionar Entrevistado</button>
    </div>
</body>
</html>
