<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gerenciamento de Pesquisas</title>
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Pesquisas</h1>
        <ul class="survey-list">
            {% for pesquisa in pesquisas %}
            <li>
                {{ pesquisa['nome'] }}
                <div class="button-group">
                    <form action="{{ url_for('remover_pesquisa', id=pesquisa['id']) }}" method="POST">
                        <button class="editar" formaction="{{ url_for('editar_pesquisa', id=pesquisa['id']) }}">Editar</button>
                        <button type="submit" class="remover">Excluir</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="add-btn" onclick="location.href='/adicionar_pesquisa'">Adicionar Pesquisa</button>
    </div>
</body>
</html>
